.button {
  padding: 12px;
  font-size: 160x;
  background-color: #87c73c;
  border-radius: 12px;
  color: white;
  border: none;
  text-transform: uppercase;
  // width: 446px;
  width: 106%;

  cursor: pointer;
}
